@import url('https://cdn.syncfusion.com/ej2/material.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.App{
    min-width: 1024px;
}


.table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 1.5em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    cursor: default;
}
  
.table th {
    padding: 24px 30px;
}
.table td{
    padding: 24px 30px;
    cursor: default;
}
.table td div{
    display: flex;
}
  
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
  
.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.top{
    margin-top: 25px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datePicker{
    width: 300px;
    margin-right: 30px;
}

.form{
    display: flex;
    justify-content: center;
}

.textArea{
    width: 300px;
    font-size: 20px;
    padding: 6px 10px;
    resize: none;
    border-radius: 5px;
    border: 2px solid #a1a1a1;
}

.textArea:focus{
    outline: none;
    border:2px solid #009879
}

.submit{
    width: 100px;
    height: 50px;
    margin-left: 10px;
    background-color: #009879;
    color: white;
    border: 2px solid #009879;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 13px;
}

.submit:hover{
    background-color: white;
    color: #009879;
}

.pencil{
    cursor: pointer;
}

.subject{
    width: 40vw;
    font-size: 24px;
}

.status{
    max-width: 18vw;
    font-size: 24px;
    line-height: 1.5;
}

.time{
    max-width: 30vw;
    font-size: 24px;
    cursor: pointer;
}

.load{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLoad{
    margin: auto;
    margin-top: 250px;
}

.loader {
    width: 48px;
    height: 48px;
    margin-top: 5px;
    border: 5px solid #009879;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.navbar{
    height: 50px;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 0 15px;
    background: #009879;
}
    
.navbar__links{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.navbar__element{
    display: flex;
}

.navbar__links a{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    width: 100px;
    transition: 0.2s;
}

.navbar__links a i{
    font-size: 1.2em;
}

.navbar__links a:hover{
    background-color: white;
    color: #009879;

}

.login{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.loginForm{
    flex-direction: column;
    width: 300px;
}

.activation{
    margin: auto;
    margin-top: 50px;
}

.activation h4{
    width: fit-content;
    margin: auto;
}

.accountInfo{
    width: 60%;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgba(113, 110, 110, 0.5);
    flex-direction: column;
    padding-top: 20px;
    /* padding-left: 20px; */
    margin:30px auto;
}

.accountInfo h2{
    margin-bottom: 20px;
    padding-left: 20px;
}

.accountField{
    height: 75px;
    border-top: 1px solid rgba(113, 110, 110, 0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.accountField:hover{
    background-color: #a1a1a110;
}

.accountField i{
    font-size: 1.35em;
    color: grey;
    margin: auto;
}

.profilePicture{
    display: flex;
    align-items: center;
    height: 100px;
    cursor: pointer;
    padding-left: 20px;
}

.profilePicture:hover{
    background-color: #a1a1a110;
}

.picture{
    width: 75px;
    height: 75px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 25px;
}

.header{
    width: 20%;
    color: grey;
}

.info{
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.info i{
    font-size: 1.2em;
    color: grey;
}

.mainPage{
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage div{
    font-size: 5em;
    font-weight: bold;
}

.mainPage h3{
    width: fit-content;
}

.changeForm{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}